
.top-display {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.top-header {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 3%;
}

.bottom-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

  h1 {
    text-align: center;
}