
.topContainer {
    display: flex;
    flex-direction: column;
    width: 98.1vw;
    height: 95vh;
}

.headerContainer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: center;
    color: white;
    width: 1012px;
}

.footerContainer {
    background-color: #e5e7e5;
    width: 98.1vw;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1012px;
}