
.top-display {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.top-header {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 3%;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
  }